@charset "UTF-8";


footer {
	/* ロゴを中央寄せ*/
	text-align: center;
	/* 文字の色を濃いグレーに */
	color: #778899;
	/* 背景色を少し濃いグレーに */
	background-color: rgba(176,196,222);
	/* フッターを固定する */
	position: fixed;
	 /* 上部から配置の基準位置を決める */
	bottom: 0;
	 /* 左から配置の基準位置を決める */
	left: 0;
	/* フッターの横幅を指定する */
	width: 100%;
	/* フッターの高さを指定する */
	height: 35px;
	 /* フッター内側の余白を指定する(上下左右) */
	padding: 10px;
}