@charset "utf-8";

body {
	/* 	背景色を薄いグレーに */
	background-color: #e6e6fa;
}

.body {
	/*文字を中央寄せ */
	text-align: center;
	/* 	要素の幅を設定 */
	width: 1000px;
	/* 	margin領域を設定 */
	margin-left: auto;
	margin-right: auto;
}

table {
	/* 	背景色を白寄りのグレーに */
	background-color: #f8f8ff;
	/* 	中央寄せ */
	margin : auto;
	/*文字を中央寄せ */
	text-align: center;
}

td, th {
	/* 	セル内で改行しない */
	white-space: nowrap;
	/* 	padding領域を設定 */
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}