
<div class="menus">

	<form action="/manage" method="post">
		<input type="submit" value="管理画面" class="manageinfo">
	</form>

	<form action="/users" method="post">
		<input type="submit" value="ユーザ管理" class="manageinfo">
	</form>

	<form action="/weathers" method="post">
		<input type="submit" value="天候管理" class="manageinfo">
	</form>

	<form action="/railways" method="post">
		<input type="submit" value="鉄道管理" class="manageinfo">
	</form>

	<form action="/delays" method="post">
		<input type="submit" value="遅延情報管理" class="manageinfo">
	</form>

	<form action="/" method="post">
		<input type="submit" value="ログアウト" class="manageinfo">
	</form>
</div>