<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理画面</title>
<link rel="stylesheet" href="/css/managetop.css">
</head>
<body>

<img src="/img/logo.png" class="logo">
<hr>

<h1>管理画面</h1>

<div class="manage">
	<form action="/users" method="post">
		<input type="submit" value="ユーザ管理" class="manageinfo"><br><br>
	</form>

	<form action="/weathers" method="post">
		<input type="submit" value="天候管理" class="manageinfo"><br><br>
	</form>

	<form action="/railways" method="post">
		<input type="submit" value="鉄道管理" class="manageinfo"><br><br>
	</form>

	<form action="/delays" method="post">
		<input type="submit" value="遅延情報管理" class="manageinfo"><br><br>
	</form>

	<form action="/" method="get">
		<input type="submit" value="ログアウト" class="manageinfo"><br><br>
	</form>
</div>

</body>
</html>