<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>

<link rel="stylesheet" href="/css/form.css">
</head>
<body>


	<h1>新規登録</h1>

	<p th:text="${message}" class="message"></p>

	<form action="/signup" method="post">

	    <div>
	      <span class="label">メールアドレス</span>
	      <input type="email" name="email" class="input"><br><br>
	    </div>

	    <div>
	      <span class="label">パスワード</span>
	      <input type="password" name="password" class="input"><br><br>
	    </div>

	    <div>
	      <span class="label">ふだん家を出る時間</span>
	      <input type="time" name="leaveHomeTime" class="timeinput" value="07:30"><br><br>
	    </div>

	    <div>
	      <span class="label">自宅から最寄り駅までの所要時間(分)</span>
	      <input type="number" name="homeStationTime" class="minuteinput" min=0 value=0><br><br>
	    </div>

	    <div>
	      <span class="label">駅から会社までの所要時間(分)</span>
	      <input type="number" name="stationCompanyTime" class="minuteinput"min=0 value=0><br><br>
	    </div>

	    <div>
	      <span class="label">通勤経路</span>
	    <select name="commuterCode1" class="input">
	    	    	<option th:each="railway:${railways}" th:value="${railway.code}" th:text="${railway.name}" >
			</option>

        </select>
    	      <span class="tilde">～</span>

        <select name="commuterCode2" class="input">
   	    	<option th:each="railway:${railways}" th:value="${railway.code}" th:text="${railway.name}" >
			</option>
        </select>
	      <span class="tilde">～</span>

        <select name="commuterCode3" class="input">
   	    	<option th:each="railway:${railways}" th:value="${railway.code}" th:text="${railway.name}" >
			</option>
        </select> <br>
	    </div>

		<br>
		<input type="submit" value="登録"  class="formbutton">

	</form>


</body>
</html>