<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録情報変更画面</title>
<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/logo.css">
</head>
<body>

	<script src="/js/footer.js"></script>

	<img src="/img/logo.png" class="logo">
	<form  action="/edited" method="post">

		<div class="signupform">

			<p th:text="${message}" class="message"></p>

			<div class="form">

				<div class="label">
					<span class="label">メールアドレス</span><span class="required">(必須)</span><br>
					<br> <span class="label">パスワード</span><span class="required">(必須)</span><br>
					<br> <span class="label">ふだん家を出る時間</span><br> <br> <span
						class="label">自宅から最寄り駅までの</span><br> <span class="label">所要時間(分)</span><br>
					<br> <span class="label">駅から会社までの</span><br> <span
						class="label">所要時間(分)</span><br> <br> <span
						class="label">通勤経路1つ目</span><span class="required">(必須)</span><br>
					<br> <span class="label">通勤経路2つ目</span><br> <br> <span
						class="label">通勤経路3つ目</span><br> <br>
				</div>

				<div class="input">
					<input type="email" name="email" class="input" th:value="${session.user.email}"><br> <br>
					<input type="password" name="password" class="input"><br>
					<br>
			<input type="time" name="leaveHomeTime" class="timeinput" th:value="${session.user.leaveHomeTime}" >

					<br> <br> <input type="number"
						name="homeStationTime" class="minuteinput" min=0 max=1000
						placeholder="0"  th:value="${session.user.homeStationTime}"><br> <br> <br> <input
						type="number" name="stationCompanyTime" class="minuteinput" min=0
						max=1000 placeholder="0"  th:value="${session.user.stationCompanyTime}"><br> <br> <br>
						<select name="commuterCode1" class="input">
						<option th:each="railway:${railways}" th:value="${railway.code}"
							th:text="${railway.name}" class="railway" th:selected="${session.user.commuterCode1 == railway.code}"></option>
					</select><br> <br> <select name="commuterCode2" class="input">
						<option th:each="railway:${railways}" th:value="${railway.code}"
							th:text="${railway.name}" class="railway" th:selected="${session.user.commuterCode2 == railway.code}"></option>
					</select><br> <br> <select name="commuterCode3" class="input">
						<option th:each="railway:${railways}" th:value="${railway.code}"
							th:text="${railway.name}" class="railway"  th:selected="${session.user.commuterCode3	 == railway.code}"></option>
					</select> <br> <br>

				</div>

			</div>
			<div class="submitbutton">
				<input type="submit" value="更新" class="formbutton">
			</div>


		</div>
	</form>

	<span th:replace="footer.html"></span>

</body>
</html>