<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>天候管理</title>

<link rel="stylesheet" href="/css/weathers.css">
<link rel="stylesheet" href="/css/managemenu.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/logo.css">
</head>
<body>

	<script src="/js/footer.js"></script>

	<img src="/img/logo.png" class="logo">

	<span th:replace="managemenu.html"></span>


	<hr>
	<h1>天候管理</h1>

	<div class="contents">
		<table border="1">
			<tr>
				<th>天候番号</th>
				<th>天気</th>
				<th>遅延係数</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr th:each="weather:${weathers}">
				<td th:text="${weather.code}"></td>
				<td th:text="${weather.element}"></td>
				<td th:text="${weather.coefficient}"></td>
				<td><form
						th:action="'/weathers/' + ${weather.code} + '/update'"
						method="post">
						<input type="hidden" name="code" th:value="${weather.code}">
						<input type="hidden" name="element" th:value="${weather.element}">
						<input type="hidden" name="coefficient"
							th:value="${weather.coefficient}"> <input type="submit"
							value="更新">
					</form></td>
				<td>
					<form th:action="'/weathers/' + ${weather.code} + '/delete'"
						method="post">
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		</table>


		<div class="adddiv">

			<p th:text="${message}" class="message"></p>

			<form action="/weathers/add" method="post" class="addform">
				<span class="label">天気：</span> <input type="text" name="element"
					class="input"><br> <span class="label">遅延係数：</span> <input
					type="number" name="coefficient" class="coefficientinput"
					step="0.1" value="0.1" min="0" max="2"><br /> <input
					type="submit" value="追加" class="button">
			</form>

		</div>

		<div class="adddiv_update">

			<p th:text="${result}" class="message"></p>

			<div th:each="weather:${weathers}">
				<form th:action="'/weathers/' + ${weather.code} + '/edit'"
					method="post" class="addform">
					<!-- 				<span>一覧の更新を押すと反映されます</span> -->
					<span class="label">天候番号：</span><span th:text="${code}"
						class="code_input"></span> <input type="hidden" name="code"
						th:value="${code}"><br> <span class="label">天気：</span>
					<input type="text" name="element" class="element_input"
						th:value="${element}"><br> <span class="label">遅延係数：</span>
					<input type="number" name="coefficient" class="coefficient_input"
						step="0.1" th:value="${coefficient}" min="0" max="2"> <br>
					<input type="submit" value="更新" class="button_updeta">
				</form>
			</div>

		</div>

	</div>

	<span th:replace="footer.html"></span>

</body>
</html>